---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="dev-to-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Frontend Developer</h2>
		<p> I embrace the unique blend of design and technology, striving to create seamless and captivating user experiences</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="certificate" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Creativity and Functionality</h2>
		<p>I believe in the power of aesthetics and functionality working hand in hand. I have a passion for creating visually appealing and user-friendly experiences that leave a lasting impact</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>I am someone who is challenged by societal problems and strives to create positive social impacts.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
